html,
body {
  padding: 0;
  margin: 0;
  background: #303030;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-width: 600px!important;
}

#logo {
  width: 75%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: none !important;
  outline-offset: none !important;
}
